'.source.scss':
  'Small up':
    'prefix': 'sm-up'
    'body': """
      \#\{$small-up} {
        $1
      }"""
  'Small only':
    'prefix': 'sm-only'
    'body': """
      \#\{$small-only} {
        $1
      }"""
  'Medium up':
    'prefix': 'med-up'
    'body': """
      \#\{$medium-up} {
        $1
      }"""
  'Medium only':
    'prefix': 'med-only'
    'body': """
      \#\{$medium-only} {
        $1
      }"""
  'Large up':
    'prefix': 'large-up'
    'body': """
      \#\{$large-up} {
        $1
      }"""
  'Large only':
    'prefix': 'large-only'
    'body': """
      \#\{$large-only} {
        $1
      }"""
  'X-Large up':
    'prefix': 'xlarge-up'
    'body': """
      \#\{$xlarge-up} {
        $1
      }"""
  'X-Large only':
    'prefix': 'xlarge-only'
    'body': """
      \#\{$xlarge-only} {
        $1
      }"""
  'XX-Large up':
    'prefix': 'xxlarge-up'
    'body': """
      \#\{$xxlarge-up} {
        $1
      }"""
  'XX-Large only':
    'prefix': 'xxlarge-only'
    'body': """
      \#\{$xlarge-only} {
        $1
      }"""
  'Landscape':
    'prefix': 'landscape'
    'body': """
      \#\{$landscape} {
        $1
      }"""
  'Portrait':
    'prefix': 'portrait'
    'body': """
      \#\{$portrait} {
        $1
      }"""
